# K Nearest Neighbors

## Importación de librerías

In [1]:
import pandas as pd
import numpy as np

from sklearn import preprocessing, neighbors
from sklearn.model_selection import train_test_split

 ## Preparación de los datos

In [2]:
df = pd.read_csv("../datasets/cancer/breast-cancer-wisconsin.data.txt", header = None)
df.head()

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2

In [3]:
df.describe()

,0,1,2,3,4,5,7,8,9,10
count,6.990000e+02,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,1.071704e+06,4.417740,3.134478,3.207439,2.806867,3.216023,3.437768,2.866953,1.589413,2.689557
std,6.170957e+05,2.815741,3.051459,2.971913,2.855379,2.214300,2.438364,3.053634,1.715078,0.951273
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [4]:
df.columns = ['Name', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'Class']

In [21]:
df = df.drop(["Name"],1)

C:\Users\SANDRO\AppData\Local\Temp\ipykernel_5608\3293735634.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop(["Name"],1)

In [22]:
df.replace('?', -999999, inplace = True)

In [23]:
Y = df['Class']
X = df[['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9']]

## Clasificador de los K vecinos

In [24]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2)

In [25]:
clf = neighbors.KNeighborsClassifier()

In [26]:
clf.fit(X_train, Y_train)

KNeighborsClassifier()

In [27]:
accuracy = clf.score(X_test, Y_test)
accuracy

0.95

### Clasificación sin limpieza

Hay que tener cuidado con suministrar datos inútiles. Acá, hemos clasificado el código de cada paciente, *feature* que no tiene relación con el resto de *features*.

In [14]:
df = pd.read_csv("../datasets/cancer/breast-cancer-wisconsin.data.txt", header = None)
df.replace('?', -999999, inplace = True)
df.columns = ['Name', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'Class']

Y = df['Class']
X = df[['Name', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9']]

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2)

clf = neighbors.KNeighborsClassifier()
clf.fit(X_train, Y_train)

accuracy = clf.score(X_test, Y_test)
accuracy

0.5571428571428572

### Clasificar nuevos datos

In [19]:
sample_measure = np.array([4,2,1,1,1,2,3,2,1]).reshape(1,-1)

In [29]:
predict = clf.predict(sample_measure)
predict

C:\Users\SANDRO\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array([2], dtype=int64)

In [34]:
sample_measure2 = np.array([[4,2,1,1,1,2,3,2,1], [4,2,1,1,1,2,3,2,4]]).reshape(2,-1)

In [35]:
predict = clf.predict(sample_measure2)
predict

C:\Users\SANDRO\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array([2, 2], dtype=int64)